<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>Authorised person:</h2>
{{name}}
<hr>
<br>
<h2>Calculator - Practical class</h2>
in progress...
<form method="post">
    <label>Value 1:<input type="number" placeholder="number" name="value1" required minlength="1">
    </label><br>
    <label>Operator:
        <select  name="operator" required>
            <option name="add">+</option>
            <option name="subtract">-</option>
            <option name="multiply">*</option>
            <option name="divide">/</option>
        </select>
    </label>
    <br>
    <label>Value 2:<input type="number" placeholder="number" name="value2" required minlength="1">
    </label><br>
    <button type="submit"> = </button>
    <output>{{result}}</output>
</form>

</body>
</html>
