doctype html
html
    head
    body
        div
            | Hello,
            br
        div
            block content
            br
            br
            hr
            a(href="#") Visit FAQ page for additional information

    footer
