extends container
block content
    | Dear #{userName},
    br
    | You don't visit our platform for more than one week, you'll be logged out on all your devices.
    br
    | Please, login again on the platform!
    hr
